.App {
  text-align: center;
}

/* FedaratedIdLoginForm */

.federated-login-form {
  display: flex;
  flex-direction: row;
}

.fedarated-login-btn {
  width: 10vw;
  height: 10vw;
  border-radius: 5vw;
}

.fedarated-login-img {
  width: 50px;
}