.App {
  text-align: center;
}

/* LoginPage */

.login-page {
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: center;
}

/* FedaratedIdLoginForm */

.federated-login-form {
  display: grid;
  grid-gap: 10px;
}

.fedarated-login-btn {
  width: 10vw;
  height: 10vw;
  border-radius: 5vw;
}

.fedarated-login-img {
  width: 30%;
}