.App {
  text-align: center;
}

/* LoginPage */

.login-page {
  background-color: #e7edf1;
}

/* FedaratedIdLoginForm */

.federated-login-form {
  display: grid;
  grid-gap: 10px;
}

.fedarated-login-btn {
  width: 6vw;
  height: 6vw;
  border-radius: 3vw;
  font-size: 4vw;
  min-width: 40px;
  min-height: 40px;
}

.fedarated-login-img {
  height: 60%;
  object-fit: contain;
}

/* PhoneLoginForm */

.phone-login-form {
  display: flex;
  flex-direction: column;
}
